@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgb(21, 32, 43);
  background: linear-gradient(
    190deg,
    rgba(34, 37, 74, 1),
    rgba(21, 32, 43, 1) 58%
  );
  height: 100%;
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

/* City Finder  */
.search-container {
  display: flex;
}

.search-container,
.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

/* Weather card  */

#card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-card {
  border-radius: 10px;
  min-width: 400px;
}

.weather-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.weather-info,
.info-city-wind {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-img {
  max-width: 50px;
  max-height: 50px;
}

.current-temperature {
  font-size: 28px;
  padding-left: 50px;
}

.weather-city {
  font-size: 24px;
  padding-top: 25px;
}

.current-weather,
.current-temperature {
  font-weight: 600;
}

.min-max-temperature,
.wind,
.weather-city {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.temperature-cold {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.temperature-tempered {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.temperature-warm {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.temperature-hot {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
